.toggleMenu {
    display:  none;
    background: #666;
    padding: 10px 15px;
    color: #fff;
}
.nav {
    list-style: none;
     background:#e1d582;
}
.nav ul {
    list-style: none;
    width: 12em;
}
.nav a {
    color:#790000;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li a {
font-size:17px;
text-transform:uppercase;
padding:10px 14px;
display:inline-block;
}
.nav > li a i {
font-size: 11px;
}
.nav > li a:hover {
background-color:#790000;
color:#fff;
}
.nav > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.nav > li > a {
    display: block;
}
.nav li  ul {
    position: absolute;
    left: -9999px;
	padding:0px;
	margin:0px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
}
.nav li li a {
color:#790000;
    display: block;
    background: #e1d582;
    position: relative;
    z-index:100;
	padding:6px 7px;
}
.nav li li a:hover {
color:#fff;
background: #790000;
}
.nav li li li a {
    background:#e1d582;
	color:#790000;
    z-index:200;
}
@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .nav > li {
        float: none;
    }
    .nav > li > .parent {
        background-position: 95% 50%;
    }
    .nav li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .nav ul {
        display: block;
        width: 100%;
    }
   .nav > li.hover > ul , .nav li li.hover ul {
        position: static;
    }

}